:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background-color: var(--color-bg);
  overflow-x: hidden;
}
.section {
  width: 100vw;
  max-width: 1400px;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 786px) {
  .section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* -------------------------
     Form
----------------------------*/
.btn {
  padding: 0.5rem 2rem;
  outline: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  border: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}
.next-btn {
  background-color: var(--color-subtext);
}
.previous-btn {
  background-color: var(--white);
  border: 2px solid var(--color-blog);
  color: var(--color-blog);
}
.previous-btn:hover {
  background-color: var(--color-blog);
  color: var(--white);
}
.submit-btn {
  background-color: var(--color-footer);
}
.button-group {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------
        Form Section
--------------------------------*/

.select-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-option h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-text);
  margin-right: 1.2rem;
}

.select-option select {
  padding: 0.5rem 3rem;
  outline: none;
  border: 2px solid var(--color-text);
  border-radius: 4px;
  background-color: var(--color-blog);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
form {
  width: 100%;
  max-width: 600px;
  background: var(--white);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px;
  margin-left: auto;
  margin-right: auto;
}
.step-heading {
  color: var(--color-blog);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1.2;
  margin-bottom: 1rem;
}
form input {
  border: transparent;
  outline: none;
  border-bottom: 2px solid var(--color-blog);
  padding: 0.3rem 3rem 0.3rem 0;
  margin: 1rem auto;
  color: var(--color-footer);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}
input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
}
.radio {
  margin-top: 1rem;
}
.radio p {
  color: var(--color-blog);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5;
  margin-bottom: 1rem;
}
.radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.radio-group {
  margin-right: 2rem;
  color: var(--color-blog);
}

.step-3 label {
  color: var(--color-blog);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.step-3 select {
  padding: 0.5rem 3rem;
  outline: none;
  border: 2px solid var(--color-text);
  border-radius: 4px;
  background-color: var(--color-blog);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.step {
  display: none;
}
.step.active {
  display: block;
}

@media screen and (max-width: 600px) {
  .input-group {
    grid-template-columns: 1fr;
    gap: unset;
  }
}
