/* ------------------------------
        Form Section
--------------------------------*/
.form-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-section h2 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  max-width: 600px;
  width: 90%;
}
.select-option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  width: 90%;
  margin: auto;
}
.select-option h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-text);
  margin-right: 1.2rem;
}

.select-option select {
  /* padding: 0.5rem 2rem; */
  outline: none;
  border: 2px solid var(--color-text);
  border-radius: 4px;
  background-color: var(--color-blog);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.select-option select option {
  width: 100%;
}
form {
  background: var(--white);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px;
  width: 95%;
  max-width: 600px;
}
.step-heading {
  color: var(--color-blog);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1.2;
  margin-bottom: 1rem;
}
form input {
  border: transparent;
  outline: none;
  border-bottom: 2px solid var(--color-blog);
  padding: 0.3rem 3rem 0.3rem 0;
  margin: 1rem auto;
  color: var(--color-blog);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
}
.radio {
  margin-top: 1rem;
}
.radio p {
  color: var(--color-blog);
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1.5;
  margin-bottom: 1rem;
}
.radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.radio-group {
  margin-right: 2rem;
  color: var(--color-blog);
}

.btn {
  padding: 0.5rem 2rem;
  outline: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  border: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}
.next-btn {
  background-color: var(--color-subtext);
}
.previous-btn {
  background-color: var(--white);
  border: 2px solid var(--color-blog);
  color: var(--color-blog);
}
.previous-btn:hover {
  background-color: var(--color-blog);
  color: var(--white);
}
.submit-btn {
  background-color: var(--color-footer);
}
.button-group {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-3 label {
  color: var(--color-blog);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.step-3 select {
  padding: 0.5rem 3rem;
  outline: none;
  border: 2px solid var(--color-text);
  border-radius: 4px;
  background-color: var(--color-blog);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.step {
  display: none;
}
.step.active {
  display: block;
}

@media screen and (max-width: 600px) {
  .input-group {
    grid-template-columns: 1fr;
    gap: unset;
  }
  .form-section h2 {
    font-size: 1.5rem;
  }
}
